services:
  backend:
    build:
      context: backend   
      dockerfile: Dockerfile
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"

  frontend:
    build:
      context: frontend   
      dockerfile: Dockerfile  
    command: streamlit run app.py --server.address 0.0.0.0 --server.port 8501
    ports:
      - "8501:8501"
